$bela: white;
$plava: blue;
$crvena: red;
$zelena: green;
$crna: black;
$color_1: black;
$color_2: orange;
$font_family_1: 'Lato', sans-serif;
$background_color_1: white;
$link-color: #303030;
$link-hover: #f68236;
