
.foot-main {
    background-color: lightgray;
    height: 40px;
    width: 100%;
}
.foot-container {
    position: relative;
    background-color: lightgray;
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


