
.head-main {
    background-color: lightgray;
    height: 40px;
    width: 100%;
}
.head-container {
    position: relative;
    background-color: lightgray;
    max-width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




